.nav { 
    overflow: hidden;
    background-color: aqua;
    padding: 20px;
    position:sticky;
    width:100vw;
}
a {
    margin-right:30px;
    background-color: white;
    padding:10px;
}
.vk {
width: 300px;
height: 150px;
margin: 50px;
padding: 20px;
border: 2px solid black;
float: left;
position: relative;

}