html, body{
    margin:0px;
    height:100%;
    width:100%;
    position:absolute;
    overflow-y:auto;
}
html {
    scroll-behavior: smooth;
}
.sidebar {
    height:100vh;
    width:15vw;
    background-color: rgb(0,0,0,0.25);
    position: fixed;
}
a {
    display:block;
    color:cyan;
    transition: all 0.1s ease-in;
    margin-bottom:5px;
    margin-top:5px;
    padding:10px;
}
a:visited{
    color:cyan;
}
.content {
    height:100%;
    overflow-y: auto;
    color: black;
    overflow-x: hidden;
    padding:0px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.innhold {
    margin-left:30vw;
    height:300px;
    width:300px;
    padding-top:200px;
    border: 5px solid black;
    text-align: center;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
}
#hjem {
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(251,0,51,1) 100%);
}
#einar {
    background: linear-gradient(180deg, rgba(251,0,51,1) 0%, rgba(255, 87, 34
    ,1) 100%);
}
#ulrik {
    background: linear-gradient(180deg, rgba(255, 87, 34
    ,1) 0%, rgba(224, 159, 187, 1) 100%);
}
#renate {
    background: linear-gradient(180deg, rgba(224, 159, 187, 1) 0%, rgba(63,94,251,1) 100%);
}
#marius {
    background: linear-gradient(180deg, rgba(63,94,251, 1) 0%, rgba(67, 160, 71,1) 100%);
}
#erland {
    background: linear-gradient(180deg, rgba(67, 160, 71, 1) 0%, rgba(79, 195, 247,1) 100%);
}
#cecilie {
    background: linear-gradient(180deg, rgba(79, 195, 247,1) 0%, rgba(79, 195, 247,1) 100%);
}
#ludwig {
    background: linear-gradient(180deg, rgba(79, 195, 247,1) 0%, rgb(100, 255, 218) 100%);
}
#oskar {
    background: linear-gradient(180deg, rgb(100, 255, 218) 0%, rgb(63, 251, 126) 100%);
}
.section {
    height: 700px;
    width:100vw;
}